<h3>Bienvenue sur EFA Smart Finance</h3>

<p>Bonjour {{ user.firstname }} {{ user.lastname }},</p>

<p>Voici votre identifiant utilisateur :</p>

<h2 style="letter-spacing: 3px;">{{ uuid }}</h2>

<p>
Conservez-le soigneusement.  
Vous pouvez vous connecter avec cet identifiant ou votre adresse email.
</p>
