<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/logovert.png') }}" type="image/png">
        <title>EFA SMART FINANCE — Tontines & Épargne</title>
        <meta name="description" content="Gérez vos tontines et vos plans d’épargne (hebdo, mensuel, trimestriel, semestriel) en toute simplicité. Paiement Mobile Money, virement, carte bancaire. Calendrier et rappels intégrés." />
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
        {% include 'links/_links_css.html.twig' %}

       <script>
            tailwind.config = {
            theme: {
                extend: {
                colors: {
                    green-700: '#1a4d2e',    // vert foncé
                    secondary: '#ffcc00ff',  // jaune
                    accent: '#2e7d32',     // vert moyen
                    light: '#f8f9fa',      // fond clair
                }
                }
            }
            }
        </script>
      

    </head>
    <body class="bg-gray-50 font-sans">
        {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock %}

        {% block body %}{% endblock %}
 
        {% block footer %}
            {% include 'partials/footer.html.twig' %}
        {% endblock %}

        {% include 'links/_links_js.html.twig' %}
        
        {% block cookie_banner %}
            {% include 'cookie_consent/banner.html.twig' %}
        {% endblock %}
    </body>

</html>
