 
    <header class="md:hidden bg-white border-b border-gray-100 sticky top-0 z-40 safe-top flex-shrink-0">
      <div class="px-4 py-3 flex items-center justify-between">
        <div class="flex items-center gap-3">
          <button id="openMobileMenu" class="h-10 w-10 bg-green-700 rounded-lg hover:bg-green-700 flex items-center justify-center touch-target">
            <i class="fa-solid fa-bars text-white"></i>
          </button>
         
        </div>
    
        <div class="flex items-center gap-2"> 
       
          <a href="{{path('app_tontine')}}" class="px-2 py-1 rounded-lg bg-green-700 text-white hover:bg-green-700 flex items-center justify-center touch-target" title="Nouvelle tontine">
            <i class="fa-solid fa-plus w-6"></i> Nouvelle Tontine
          </a> <!-- Mobile Header 
          <button class="relative h-10 w-10 rounded-lg bg-green-700 hover:bg-green-700 flex items-center justify-center touch-target">
            <i class="fa-regular fa-bell text-white"></i>
            <span id="mobileNotificationCount" class="absolute -top-1 -right-1 h-5 w-5 rounded-full bg-warning text-white text-xs flex items-center justify-center">3</span>
          </button> -->   
        </div>
        
      </div>
    </header>